.modal-address  {
  width: 500px;

  :global .input-text {
    flex-grow: 1;
    margin-right: 20px;
    height: 38px;
    padding: 0 10px;
    border: 1px solid var(--color-section-border);
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    width: 100%;
  }

  :global .btn-connect {
    margin-top: 20px;
    height: 38px;
    cursor: pointer;
    border: 1px solid var(--color-section-border);
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}